<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UjianCerdas</title>
  <!-- Include Bootstrap CSS and jQuery -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="p-3" style="background-color: rgb(42, 42, 42);">
  <nav>
    <div class="container-fluid rounded-lg" style="height: 100px; background-color: rgb(27, 27, 27);">
      <div class="p-4 pl-5 d-inline" style="float: left;">
        <h1 class="text-white">UjianCerdas</h1>
      </div>
      <div class="pr-5 d-inline" style="float: right; padding: 30px;">
        <h3 class="text-white">SMAN 5 Kota Bekasi</h3>
      </div>
    </div>
  </nav>

  <%- body %>
</body>

</html>