<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="UjianCerdas is an online exam website, where you can create and do online exam like usual, but with cheat detector so you can't cheat in online exam anymore.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="UjianCerdas, No more cheating in exam.">
  <meta property="og:description" content="UjianCerdas is an online exam website, where you can create and do online exam like usual, but with cheat detector so you can't cheat in online exam anymore.">
  <meta property="og:image" content="">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="lsm41c8q-15000.asse.devtunnels.ms">
  <meta property="twitter:url" content="">
  <meta name="twitter:title" content="UjianCerdas, No more cheating in exam.">
  <meta name="twitter:description" content="UjianCerdas is an online exam website, where you can create and do online exam like usual, but with cheat detector so you can't cheat in online exam anymore.">
  <meta name="twitter:image" content="">
  <title>UjianCerdas</title>

  <!-- CDNs -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="p-3" style="background-color: rgb(42, 42, 42);">
  <%- body %>
</body>

</html>